@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Titillium+Web&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Braah One', sans-serif;
    // font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

$beigeColor: #E6E0B6;
$lightBlueColor: #4BB7E3;
$blackColor: #000000;
$whiteColor: #F6FCFF;

$radius: 0px 0px 14px 14px;
$radius14: 14px;

@font-face {
    font-family: BookmanOldStyle;
    src: url(../fonts/BookmanOldStyle-Regular.ttf);
}
@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeue-Bold.ttf);
}
$BookmanOldStyle: BookmanOldStyle;
$HelveticaNeue: HelveticaNeue;

/////////////////////////////////////////////////// Testing CSS HERE. DELETE LATER
// .test {
//     h1 {
//         background: $beigeColor;
//         font-family: $BookmanOldStyle;
//     }
//     h2 {
//         font-family:$HelveticaNeue;
//     }
//     p.test1 {
//         background: $darkBlueColor;
//     }
//     p.test2 {
//         background: $lightBlueColor;
//     }
//     p.test3 {
//         background: $pinkColor;
//     }
//     p.test4 {
//         background: $darkGoldColor;
//     }
// }
// } //////////////////////////////////////////////TESTING CSS ENDS HERE. DELETE LATER

// ////////////////////////////////////////////////MAIN CONTENT STARTS HERE
.main-content {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/hector-pirate-ship.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // ///////////////////////////////////////////////NAVIGATION STARTS HERE
    // ///////////////////////////////////////////////NAV COPIED AND PASTED FROM WEEK 9AND10 DEMO
     .nav {
    position: absolute;
    z-index: 1;
    width: 100vw;
    background-color: $beigeColor;
    height: 75px;
    // width: 100%;
    

    &__list {
        //same as .nav__list but looks for __list items
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0 2rem;

        &logo {
            //.nav__listlogo {
            list-style: none;
            margin-right: auto;
            cursor: pointer;
        }

        &item {
            list-style: none;
            position: relative;
            padding: 1.5rem 1rem;
            cursor: pointer;

        // /////////changing color for &item doesn't work? Figure out later
        // &item:hover {
        //     color: $lightBlueColor;
        // }
        // /////////changing color for &item doesn't work? Figure out later if theres time


            // ////////////// DON'T DELETE THIS. IT MAKES THE DROP DOWN DROP
            // IN THE PREVIOUS DEMO THIS MAKES THE OUTLINES APPEAR WHEN HOVERED
            // &::after {
            //     content: "";
            //     width: 0;
            //     height: 0.3rem;
            //     border-radius: $radius;
            //     position: absolute;
            //     left: 1rem;
            //     bottom: 0.8rem;
            //     background-color: $blackColor;
            //     transition: width 200ms ease-in;
            // }

            // &:hover::after,
            // &:focus::after {
            //     width: 80%;
            // }
            // IN THE PREVIOUS DEMO THIS MAKES THE OUTLINES APPEAR WHEN HOVERED

            &:hover ul,
            &:focus ul {
                opacity: 1;
                visibility: visible;
            }
            // ////////////// DON'T DELETE THIS. IT MAKE THE DROP DOWN DROP

            // ////////////// DROP DOWN STARTS HERE
            // ////////////// THIS STYLIZISE THE DROP DOWN
            &drop {
                position: absolute;
                top: 4rem;
                left: 0.5px;
                // box-shadow: 0 0 10px $whiteColor;
                background-color: $whiteColor;
                border-radius: $radius;
                width: 6rem;
                // padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms ease-in-out;
                
                

                li {
                    list-style: none;
                    // padding: 0.5rem;
                    // border-radius: 10px;
                    transition: background-color 200ms ease-in-out;

                    &:hover,
                    &:focus {
                        background-color: $lightBlueColor;
                        color: $whiteColor;
                    }
                }

            }
            // //////////////DROP DOWN STARTS HERE

        }
            // /////////////&ITEM ENDS HERE
    }
} // /////////////////////// NAV ENDS HERE
 
// ////////////////////////////////////////////////STYLING NAV STARTS HERE
.nav__list {
    // background-color: $beigeColor;
    // height: 75px;
    // width: 100%;
    position: relative;
    font-family: $BookmanOldStyle;
    font-size: 21px;
    top: 10px;
    .nav_listlogo {
        position: fixed;
    }
    .nav__listitem {
        text-transform: uppercase;
        margin-left: 1rem;
        position: relative;
    }
    #cat {
        border-radius: $radius;
    }
    .nav__listitemdrop {
        width: 8rem;
        height: 4.9rem;
        text-align: center;
        font-size: 18px;      
        // font-family: $HelveticaNeue;  
    }
    svg {
    top: 28px;
    margin-left: 40px;
    width: 220px;
    height: 39px;
    }
}
// ////////////////////////////////////////////////STYLING NAV ENDS HERE

// ////////////////////////////////////////////////JUMBOTRON STARTS HERE!
.jumbord{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 500px;
    // width: 1150px;
    // height: 450px;
    // background-color: $whiteColor;
    // border: $whiteColor solid 1rem;
    top: 231px;
    left: 389px;
    svg#bord {
        z-index: 1;
        // width: 3000px;
        // height: 600px;
        // width: 1150px;
        // height: 450px;
    }
}

.jumbotron {
    z-index: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1150px;
    height: 450px;
    background-color: #F7FCFF;
    // border: solid red 5rem;
    // border-style: normal dotted;
    top: 259px;
    left: 400px;
    margin: auto;
    opacity: 100%;
    mix-blend-mode: exclusion;
    border-radius: $radius14;
}
h1 {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $whiteColor;
    font-size: 85px;
    left: 512px;
    top: 431px;
    border: 1px solid none;
    outline-color: $blackColor;
}
// ////////////////////////////////////////////////JUMBOTRON ENDS HERE!

// ////////////////////////////////////////////////MENU CONTENT STARTS HERE!
.menu {

}
// ////////////////////////////////////////////////MENU CONTENT ENDS HERE!

// ////////////////////////////////////////////////FOOTER STARTS HERE
footer {
    height: 75px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $lightBlueColor;
    span.copy {
        display:flex;
        justify-content: center;
        font-size: 2em;
        color: $whiteColor;
        margin-left: -34px;
        position: relative;
        top: 22px;
        font-family: $BookmanOldStyle;
        font-size: 29px;
    }
    #socials {
        display: flex;
        justify-content: center;
        margin-left: 27.5rem;
        position: absolute;
        top: -2px;
    }
}
// ////////////////////////////////////////////////FOOTER ENDS HERE
}
// ////////////////////////////////////////////////MAIN CONTENT ENDS HERE
