@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Titillium+Web&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Braah One', sans-serif;
    // font-family: 'Titillium Web', sans-serif;
}

$beigeColor: #E6E0B6;
$darkGoldColor: #968D48;
$lightBlueColor: #4BB7E3;
$darkBlueColor: #2A7796;
$pinkColor: #E35687;
/////////////////////////////////////////////////// Testing CSS HERE
// .test {
//     h1 {
//         background: $beigeColor;
//         font-family: 'Braah One', sans-serif;
//     }
//     h2 {
//         font-family:'Titillium Web', sans-serif;
//     }
//     p.test1 {
//         background: $darkBlueColor;
//     }
//     p.test2 {
//         background: $lightBlueColor;
//     }
//     p.test3 {
//         background: $pinkColor;
//     }
//     p.test4 {
//         background: $darkGoldColor;
//     }
// }
    
// } //////////////////////////////////////////////TESTING CSS ENDS HERE


