@import url("https://fonts.googleapis.com/css2?family=Braah+One&family=Titillium+Web&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: BookmanOldStyle;
  src: url(../fonts/BookmanOldStyle-Regular.ttf);
}
@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue-Bold.ttf);
}
.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../images/hector-pirate-ship.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main-content .nav {
  position: absolute;
  z-index: 1;
  width: 100vw;
  background-color: #E6E0B6;
  height: 75px;
}
.main-content .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
}
.main-content .nav__listlogo {
  list-style: none;
  margin-right: auto;
  cursor: pointer;
}
.main-content .nav__listitem {
  list-style: none;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.main-content .nav__listitem:hover ul, .main-content .nav__listitem:focus ul {
  opacity: 1;
  visibility: visible;
}
.main-content .nav__listitemdrop {
  position: absolute;
  top: 4rem;
  left: 0.5px;
  background-color: #F6FCFF;
  border-radius: 0px 0px 14px 14px;
  width: 6rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}
.main-content .nav__listitemdrop li {
  list-style: none;
  transition: background-color 200ms ease-in-out;
}
.main-content .nav__listitemdrop li:hover, .main-content .nav__listitemdrop li:focus {
  background-color: #4BB7E3;
  color: #F6FCFF;
}
.main-content .nav__list {
  position: relative;
  font-family: BookmanOldStyle;
  font-size: 21px;
  top: 10px;
}
.main-content .nav__list .nav_listlogo {
  position: fixed;
}
.main-content .nav__list .nav__listitem {
  text-transform: uppercase;
  margin-left: 1rem;
  position: relative;
}
.main-content .nav__list #cat {
  border-radius: 0px 0px 14px 14px;
}
.main-content .nav__list .nav__listitemdrop {
  z-index: -1;
  width: 8rem;
  height: 5.9rem;
  text-align: center;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
}
.main-content .nav__list svg {
  top: 28px;
  margin-left: 40px;
  width: 220px;
  height: 39px;
}
.main-content .jumbord {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  height: 500px;
  top: 231px;
  left: 389px;
}
.main-content .jumbord svg#bord {
  z-index: 1;
}
.main-content .jumbotron {
  z-index: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1150px;
  height: 450px;
  background-color: #F7FCFF;
  top: 259px;
  left: 400px;
  margin: auto;
  opacity: 100%;
  mix-blend-mode: exclusion;
  border-radius: 14px;
}
.main-content h1 {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6FCFF;
  font-size: 85px;
  left: 512px;
  top: 431px;
  border: 1px solid none;
}
.main-content .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1167px;
  height: 500px;
  top: 231px;
  left: 389px;
}
.main-content .menu svg#menu-bord {
  z-index: 1;
}
.main-content .menu-jumbo {
  z-index: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1150px;
  height: 130px;
  background-color: #F7FCFF;
  top: 259px;
  left: 398px;
  margin: auto;
  opacity: 100%;
  mix-blend-mode: exclusion;
  border-radius: 0px;
}
.main-content h1.menu-title {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6FCFF;
  font-size: 85px;
  left: 271px;
  top: 39px;
}
.main-content h1.dine-in {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6FCFF;
  font-size: 70px;
  left: 230px;
  top: 59px;
}
.main-content h1.take-out {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6FCFF;
  font-size: 70px;
  left: 230px;
  top: 59px;
}
.main-content h1.catering {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6FCFF;
  font-size: 70px;
  left: 230px;
  top: 59px;
}
.main-content section.menu-prices {
  z-index: 0;
  position: fixed;
  display: inline-block;
  width: 1150px;
  height: 315px;
  background-color: #E6E0B6;
  top: 389px;
  left: 398px;
  border-radius: 0px;
  text-align: center;
  line-height: 2.2;
  margin-right: auto;
  font-size: xx-large;
  padding: 1px;
}
.main-content form {
  margin-left: 15%;
  position: relative;
  width: 75%;
  height: 76%;
  display: flex;
  flex-direction: column;
  top: 14%;
  background-color: #4BB7E3;
  border-radius: 14px;
  font-family: "Titillium Web", sans-serif;
  font-size: 100;
}
.main-content form h1#contact-title {
  color: #000000;
  font-size: 2rem;
  z-index: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 18px;
  left: 396px;
}
.main-content form label {
  position: relative;
  color: #000000;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 1rem;
  top: 33px;
  left: 20px;
}
.main-content form input[type=text],
.main-content form input[type=email],
.main-content form textarea {
  position: relative;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  border-radius: 14px;
  border: none;
  background-color: #E6E0B6;
  transition: background-color 200ms linear;
  top: 3px;
  left: 34px;
  width: 1380px;
}
.main-content form input[type=text]:focus,
.main-content form input[type=email]:focus,
.main-content form textarea:focus {
  border: none;
  outline: 0;
  background-color: #F6FCFF;
  color: #000000;
}
.main-content form textarea {
  height: 200px;
  margin-bottom: 1rem;
  color: #000000;
}
.main-content form button#button {
  position: relative;
  background-color: #E6E0B6;
  color: #4BB7E3;
  font-size: 30px;
  width: 20%;
  padding: 1rem;
  border-radius: 14px;
  border: none;
  display: inline-block;
  margin: 1rem auto 0 auto;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  top: -15px;
  font-family: "Titillium Web", sans-serif;
}
.main-content form button#button:hover {
  background-color: #F6FCFF;
  color: #000000;
}
.main-content section#recipe-section {
  position: relative;
  top: 3rem;
  width: 80%;
  height: 80%;
  background-color: #4BB7E3;
  padding: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  min-height: 729px;
  top: 94px;
  left: 193px;
}
.main-content section#recipe-section h1#recipe-title {
  color: #000000;
  font-size: 2.5rem;
  left: 72px;
  top: 14px;
  font-family: BookmanOldStyle;
}
.main-content section#recipe-section div#recipe-div {
  height: 70%;
  width: 100%;
  position: relative;
}
.main-content section#recipe-section div#recipe-div section#recipe-items {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  top: 10px;
}
.main-content section#recipe-section div#recipe-div section#recipe-items figure {
  background-color: #F6FCFF;
  width: 30%;
  border-radius: 14px;
}
.main-content section#recipe-section div#recipe-div section#recipe-items figure img {
  width: 100%;
  height: 445px;
  border-radius: 14px 14px 0 0;
}
.main-content section#recipe-section div#recipe-div section#recipe-items figure figcaption {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  width: auto;
  height: 14rem;
}
.main-content section#recipe-section div#recipe-div section#recipe-items figure figcaption p {
  position: relative;
  text-align: left;
  padding: 14px;
  font-size: 20px;
  top: -1rem;
}
.main-content section#recipe-section div#recipe-div section#recipe-items figure figcaption h3 {
  position: relative;
  background-color: #E6E0B6;
  font-family: BookmanOldStyle;
  padding: 1rem;
  top: -2rem;
  font-size: 30px;
}
.main-content section#recipe-section div#recipe-div section#recipe-items figure figcaption h4 {
  position: relative;
  font-size: 25px;
  margin-left: -190px;
  padding: 0em;
  top: -1rem;
  left: -1rem;
}
.main-content footer {
  height: 75px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4BB7E3;
}
.main-content footer span.copy {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #F6FCFF;
  margin-left: -34px;
  position: relative;
  top: 22px;
  font-family: BookmanOldStyle;
  font-size: 29px;
}
.main-content footer #socials {
  display: flex;
  justify-content: center;
  margin-left: 27.5rem;
  position: absolute;
  top: -2px;
}/*# sourceMappingURL=style.css.map */